/* Import Tailwindcss */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Readex Pro Font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@400;500;600;700&display=swap');

/**
[]=============================[]
        General styling
[]=============================[]
*/
* {
    font-family: 'Readex Pro', sans-serif;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    @apply font-normal text-base;
}

html,
body {
    @apply bg-body text-white w-full h-full;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  @apply h-full w-full overflow-hidden;
}

/**
[]=============================[]
          Scrollbars
[]=============================[]
*/
::-webkit-scrollbar {
    @apply h-1 w-1;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    @apply bg-body-light rounded-full;
}

::-webkit-scrollbar-track {
    @apply bg-body-lighter;
}